.carousel-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.carousel {
  position: relative;
  overflow: hidden;
}

.carousel-slide {
  display: none;
  transition: opacity 0.5s ease;
}

.carousel-slide.active-slide {
  display: block;
  opacity: 1;
  width: 100%;
}

.carousel-button {
  background: 0;
  color: rgb(255, 220, 24);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  z-index: 1;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}
